<template>
    <div class="container">
        <h2>Create Checklist</h2>
        <form @submit.prevent="login">
            <div>
                <label for="username">Name:</label>
                <input type="text" id="username" v-model="name">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
            name: ''
        };
    },
    methods: {
        getToken() {
            return localStorage.getItem('accessToken');
        },
        async login() {
            try {
                const token = this.getToken()
                const response = await axios.post('http://94.74.86.174:8080/api/checklist', {
                    name: this.name
                }, {
                    method: 'POST',
                    headers: {
                        'Authorization': `Bearer ${token}`
                    }
                });
            } catch (error) {
                throw new Error(error.response.data.error || error.message);
            }
        }
    }
};
</script>
  
<style>
.container {
    display: inline-block;
    text-align: center;
    margin: 10px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
</style>