<template>
    <div>
        <h1>Prod List</h1>
        <table border="1px solid black">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in product" :key="item.id">
                    <td>{{ item }}</td>
                    <td>
                        <button class="button-delete" @click="deleteItem(item.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
import axios from 'axios'

export default {
    data() {
        return {
            product: [],
            token: ''
        };
    },
    methods: {
        getToken() {
            return localStorage.getItem('accessToken');
        },
        async getData() {
            try {
                const token = this.getToken()
                const response = await fetch('http://94.74.86.174:8080/api/checklist', {
                    method: 'GET',
                    headers: {
                        'Authorization': `Bearer ${token}`
                    }
                });
                const convertDataToJSON = await response.json()
                this.product = convertDataToJSON.data
            } catch (error) {
                throw new Error(error.response.data.error || error.message);
            }
        },
        async deleteItem(id) {
            try {
                const token = this.getToken()
                await axios.delete(`http://94.74.86.174:8080/api/checklist/${id}`, {
                    method: 'GET',
                    headers: {
                        'Authorization': `Bearer ${token}`
                    }
                });
                alert('sukses delete data')
                location.reload();
            } catch (error) {
                console.error('Error deleting item:', error);
            }
        }
    },
    mounted() {
        this.getData()
    }
};
</script>
<style>
.button-delete {
    color: red;
}
</style>