<template>
  <div class="container">
    <h2>Login</h2>
    <form @submit.prevent="login">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" v-model="username">
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" v-model="password">
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      username: '',
      password: ''
    };
  },
  methods: {
    async login() {
      try {
        const response = await axios.post('http://94.74.86.174:8080/api/login', {
          username: this.username,
          password: this.password
        });
        const token = response.data.data.token;
        localStorage.setItem('accessToken', token);
        this.$router.push('/homeproduct');
      } catch (error) {
        console.error('Error logging in:', error);
        this.error = 'Username or password is incorrect.';
      }
    }
  }
};
</script>

<style>
.container {
  display: inline-block;
  text-align: center;
  margin: 10px;
  width: 200px;
  height: 200px;
  border: 1px solid black;
}
</style>