<template>
  <div class="container">
    <h2>Register</h2>
    <form @submit.prevent="register">
      <div>
        <label for="username">email:</label>
        <input type="text" id="username" v-model="email">
      </div>
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" v-model="username">
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" v-model="password">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      username: '',
      password: '',
      email: ''
    };
  },
  methods: {
    async register() {
      try {
        const response = await axios.post('http://94.74.86.174:8080/api/register', {
          username: this.username,
          password: this.password,
          email: this.email
        });
        const token = response.data.token;
        localStorage.setItem('token', token);
        this.$router.push('/');
      } catch (error) {
        console.error('Error logging in:', error);
        this.error = 'Username or password is incorrect.';
      }
    }
  }
};
</script>

<style>
.container {
  display: inline-block;
  text-align: center;
  margin: 10px;
  width: 200px;
  height: 300px;
  border: 1px solid black;
}
</style>